<section id="sobre" class="" style="padding: 0.5em;">
    <div class="container fluid">

        <div data-aos="fade-down" data-aos-duration="1500">
            <div id="logo">
                <div>
                    <h1 align="center">
                        Você conhece todos os seus direitos?
                    </h1>
                    <h2 align="center">
                        O nosso objetivo é garantir a integridade de todos os seus direitos.

                    </h2>


                    <div id="logo-escudo">
                        <img style="width: 4em;" src="assets/logo-edited.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="logo row" data-aos="fade-down" data-aos-duration="1500" style="padding-bottom: 4em;">


            <div class="service-list col-md-6">
                <div class="ajust-font">
                    <p>Acidente de Trabalho</p>
                    <i class="fa-solid fa-circle-check "></i>
                </div>
                <div>
                    <p>Adicional de Insalubridade e Periculosidade
                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div>
                    <p>
                        Adicional Noturno

                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div>
                    <p>
                        Assédio Moral e Sexual

                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div>
                    <p>
                        Cálculos Trabalhistas

                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div>
                    <p>
                        Danos Morais

                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div>
                    <p>
                        FGTS e Multa

                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div>
                    <p>
                        Férias, Décimo-Terceiro Salário e Aviso Prévio

                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
            </div>
            <div class="service-list col-md-6">
                <div>
                    <p>
                        Horas Extras

                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div>
                    <p>
                        Licença Maternidade e Paternidade

                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div>
                    <p>
                        Pedido de Rescisão Indireta

                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div>
                    <p>
                        Reconhecimento de Vínculo Empregatício

                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div>
                    <p>
                        Reversão de Justa Causa

                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div>
                    <p>
                        Seguro Desemprego


                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div>
                    <p>
                        Trabalho sem Registro


                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
            </div>
        </div>


        <!-- <div class="service-list">
                        <div>
                            <p>Acidente de Trabalho</p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <div>
                            <p>Adicional de Insalubridade e Periculosidade
                            </p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <div>
                            <p>
                                Adicional Noturno

                            </p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <div>
                            <p>
                                Assédio Moral e Sexual

                            </p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <div>
                            <p>
                                Cálculos Trabalhistas

                            </p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <div>
                            <p>
                                Danos Morais

                            </p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <div>
                            <p>
                                FGTS e Multa

                            </p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <div>
                            <p>
                                Férias, Décimo-Terceiro Salário e Aviso Prévio

                            </p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>




                        <div>
                            <p>
                                Horas Extras

                            </p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <div>
                            <p>
                                Licença Maternidade e Paternidade

                            </p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <div>
                            <p>
                                Pedido de Rescisão Indireta

                            </p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <div>
                            <p>
                                Reconhecimento de Vínculo Empregatício

                            </p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <div>
                            <p>
                                Reversão de Justa Causa

                            </p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <div>
                            <p>
                                Seguro Desemprego


                            </p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                        <div>
                            <p>
                                Trabalho sem Registro


                            </p>
                            <i class="fa-solid fa-circle-check"></i>
                        </div>
                    </div>
                </div> -->

        <div class="align-buttons bloco sobre">
            <a routerlink="#" class="button btn button-primay btn-primary button d-md-inline-block d-block mb-md-0 mb-2 primary-gradient">Saiba mais</a>
        </div>
    </div>
    <!-- </div> -->
</section>
