<section id="servicos" class="pb-2" style="padding: 0.5em">
  <div class="container fluid">
    <div class="detail">
      <img
        style="width: 10em; height: auto"
        src="assets/web-detail.png"
        alt=""
      />
    </div>

    <div class="pulsating-element container bloco2 pt-4 pb-3">
      <!-- <h2 align="center">
        SEM CUSTOS INICIAS!
      </h2> -->

      <h5 style="color: #ccad5d;" align="center">ATENÇÃO:</h5>
      <h5 align="center">
        Nossos honorárions só serão pagos<br />
        Se você ganhar a causa trabalhista.
      </h5>
    </div>

    <div class="detail">
      <img
        style="width: 10em; height: auto"
        src="assets/web-detail.png"
        alt=""
      />
    </div>

    <div id="logo">
      <div>
        <h1 align="center">Você conhece todos os seus direitos?</h1>
        <h2 align="center">
          O nosso objetivo é garantir a integridade de todos os seus direitos.
        </h2>

        <div id="logo-escudo">
          <img style="width: 3em" src="assets/logo-edited.png" alt="" />
        </div>
      </div>
    </div>

    <div
      class="logo row"
      data-aos="fade-down"
      data-aos-duration="1500"
      style="padding-bottom: 4em"
    >
      <div class="service-list col-md-6">
        <div class="ajust-font">
          <p>Acidente de Trabalho</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div>
          <p>Adicional de Insalubridade e Periculosidade</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div>
          <p>Adicional Noturno</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div>
          <p>Assédio Moral e Sexual</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div>
          <p>Cálculos Trabalhistas</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div>
          <p>Danos Morais</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div>
          <p>FGTS e Multa de 40%</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div>
          <p>Férias, Décimo-Terceiro Salário e Aviso Prévio</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
      </div>
      <div class="service-list col-md-6">
        <div>
          <p>Horas Extras</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div>
          <p>Licença Maternidade e Paternidade</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div>
          <p>Multa pelo não pagamento das verbas rescisória</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div>
          <p>Pedido de Rescisão Indireta</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div>
          <p>Reconhecimento de Vínculo Empregatício</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div>
          <p>Reversão de Justa Causa</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div>
          <p>Seguro Desemprego</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div>
          <p>Trabalho sem Registro</p>
          <i class="fa-solid fa-circle-check"></i>
        </div>
      </div>
    </div>

    <!-- <div class="bloco bloco2">
      <h5 align="center">
        <strong>SEM CUSTOS INICIAS!</strong><br /><br />
        Não se preocupe com gastos antecipados. <br />
        Nossos honorárions só serão pagos se você ganhar a causa trabalhista.
        Você merece justiça sem se preocupar com custos inicias.
      </h5>
    </div> -->

    <div class="align-buttons bloco sobre">
      <a href="#dont-do" class="btn-transparente">Saiba mais</a>
    </div>
  </div>
  <!-- </div> -->
</section>

<!-- sobre o ricardo -->
<section id="who-iam">
  <div class="detail" style="padding-top: 2em">
    <img style="width: 10em; height: auto" src="assets/web-detail.png" alt="" />
  </div>

  <div id="logo" class="pb-5" data-aos="fade-down" data-aos-duration="1500">
    <div>
      <h1 align="center">Quem sou eu?</h1>

      <p
        class="container"
        align="center"
        style="color: black; font-style: italic"
      >
        Sou Ricardo Amaral, advogado especializado em direito do trabalho, com
        uma vasta experiência na área jurídica. Com atuação em mais de 150
        processos e participação em cerca de 1000 audiências, estou preparado
        para oferecer a melhor orientação e suporte legal para questões
        trabalhistas. Ao longo da minha carreira, tenho ajudado meus clientes a
        navegar pelas complexidades das leis do trabalho, sempre focado em suas
        necessidades específicas.
      </p>
      <div class="container pb-3">
        <!-- <p [class.collapsed]="!expanded"style="color: black;" align="center"> -->
        <p
          *ngIf="expanded"
          data-aos="fade-down"
          data-aos-duration="1000"
          style="color: black; font-style: italic"
          align="center"
        >
          Minha abordagem une um profundo conhecimento técnico com uma
          compreensão real das necessidades dos clientes, transformando as
          complexas leis atuais em algo acessível e claro para você. Meu
          compromisso é facilitar o entendimento das questões legais e
          proporcionar soluções eficazes e personalizadas. Ao me contratar, você
          terá a certeza de estar contando com um profissional que coloca seus
          interesses em primeiro lugar e busca sempre os melhores resultados
          para o seu caso.
        </p>
        <a
          class="d-flex justify-content-center btn-see-more"
          (click)="toggleExpand()"
        >
          {{ expanded ? "Ver menos" : "Ver mais" }}
        </a>
      </div>

      <div class="d-flex justify-content-center">
        <img style="width: 3em" src="assets/logo-edited.png" alt="" />
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <!-- <p align="center" style="color: black">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nihil
        sapi    ente non excepturi sed dolore quasi ipsa totam laborum expedita ab
        saepe sequi, alias numquam similique mollitia quae. Molestiae, aperiam.
      </p> -->
    <img style="width: 20em" src="assets/rick-default.webp" alt="" />
  </div>
  <div>
    <img
      style="width: 101%; height: auto; margin-bottom: -16px"
      src="assets/web-detail.png"
      alt=""
    />
  </div>
</section>
