<div id="dont-do" class="square-hero-services">
  <div style="padding: 0.5em">
    <div style="display: flex; justify-content: center; align-items: center">
      <h1 align="center">O QUE AS EMPRESAS ESTÃO FAZENDO</h1>
    </div>

    <div data-aos="fade-down" data-aos="fade-down" data-aos-duration="1500" class="bloco pb-5">
      <div class="service-list">
        <div>
          <p>Demitindo empregada gestante</p>
          <!-- <i class="fa-solid fa-circle-check"></i> -->
          <p class="point">•</p>
        </div>
        <div>
          <p>Demitindo por justa causa sem motivo suficiente</p>
          <!-- <i class="fa-solid fa-circle-check"></i> -->
          <p class="point">•</p>
        </div>
        <div>
          <p>Humilhando o empregado no ambiente de trabalho</p>
          <!-- <i class="fa-solid fa-circle-check"></i> -->
          <p class="point">•</p>
        </div>
        <div>
          <p>
            Não dando o devido suporte quando o empregado sofre acidente no
            trabalho ou indo trabalhar
          </p>
          <!-- <i class="fa-solid fa-circle-check"></i> -->
          <p class="point">•</p>
        </div>
        <div>
          <p>Não depositando o FGTS</p>
          <!-- <i class="fa-solid fa-circle-check"></i> -->
          <p class="point">•</p>
        </div>
        <div>
          <p>Não fornecendo os Equipamentos de Proteção para os funcionários</p>
          <!-- <i class="fa-solid fa-circle-check"></i> -->
          <p class="point">•</p>
        </div>
        <div>
          <p>Não liberando o FGTS e Seguro desemprego</p>
          <!-- <i class="fa-solid fa-circle-check"></i> -->
          <p class="point">•</p>
        </div>
        <div>
          <p>Não pagando adicional para quem entra em câmera fria</p>
          <!-- <i class="fa-solid fa-circle-check"></i> -->
          <p class="point">•</p>
        </div>
        <div>
          <p>Não pagando adicional para quem limpa banheiro</p>
          <!-- <i class="fa-solid fa-circle-check"></i> -->
          <p class="point">•</p>
        </div>
        <div>
          <p>Não pagando as horas extras que seus empregados fazem</p>
          <!-- <i class="fa-solid fa-circle-check"></i> -->
          <p class="point">•</p>
        </div>
        <div>
          <p>Não pagando as verbas rescisórias em 10 dias</p>
          <!-- <i class="fa-solid fa-circle-check"></i> -->
          <p class="point">•</p>
        </div>
        <div>
          <p>
            Não permitindo o funcionário de realizar seu intervalo para descanso
            e refeiçãoCálculos Trabalhistas
          </p>
          <!-- <i class="fa-solid fa-circle-check"></i> -->
          <p class="point">•</p>
        </div>
        <div>
          <p>Pagando salário por fora</p>
          <!-- <i class="fa-solid fa-circle-check"></i> -->
          <p class="point">•</p>
        </div>
        <div>
          <p>Se recusando a demitir o empregado</p>
          <p class="point">•</p>
        </div>
        <div>
          <p>Solicitando atividades diversa da que contratou o empregado</p>
          <p class="point">•</p>
        </div>
      </div>
    </div>

    <div class="bloco pt-5">
      <h2 align="center" style="font-size: x-large">
        <strong>IMPORTANTE: </strong> <br />
        <br />
        Se estiver passando por alguma dessas situações, não perca tempo e entre em
        contato!
      </h2>
    </div>
  </div>
</div>
