<div class="square-hero-services">
    <div style="padding: 0.5em;">

        <div style="display: flex; justify-content: center; align-items: center;">
            <h1 align="center">O QUE A EMPRESA NÃO PODE FAZER?</h1>

        </div>
        <div data-aos="fade-down" data-aos-duration="1500" class="container">
            <div class="row" data-aos="fade-down" data-aos-duration="1500">

                <div class="service-list col-md-6">
                    <div>
                        <p>Assédio Moral e Sexual</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Reversão de Justa Causa</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Danos Morais</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Acidente de Trabalho</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Reconhecimento de Vínculo Empregatício</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Pedido de Rescisão Indireta</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>FGTS e Multa</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Licença Maternidade e Paternidade</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Seguro Desemprego</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Trabalho sem Registro</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Adicional de Insalubridade e Periculosidade</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Cálculos Trabalhistas</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Férias, Décimo-Terceiro Salário e Aviso Prévio</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                </div>

                <div class="service-list col-md-6">
                    <div>
                        <p>Assédio Moral e Sexual</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Reversão de Justa Causa</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Danos Morais</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Acidente de Trabalho</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Reconhecimento de Vínculo Empregatício</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Pedido de Rescisão Indireta</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>FGTS e Multa</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Licença Maternidade e Paternidade</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Seguro Desemprego</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Trabalho sem Registro</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Adicional de Insalubridade e Periculosidade</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Cálculos Trabalhistas</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>Férias, Décimo-Terceiro Salário e Aviso Prévio</p>
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
