    <div class="servicos">
        <section id="servicos">
            <div class="container text-center">
                <h2>Nossos serviços</h2>
                <h4 class="subtitle"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate lab</h4>
            <div class="row">
                <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
                    <a routerLink="#" class="destaque">
                        <div class="img-container mb-3">
                            <img src="assets/destaque1.svg" class="img-fluid"/>
                        </div>
                        <h5 class="text-uppercase">Lorem ipsum dolor sit</h5>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate lab</p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
                    <a routerLink="#" class="destaque">
                        <div class="img-container mb-3">
                            <img src="assets/destaque1.svg" class="img-fluid"/>
                        </div>
                        <h5 class="text-uppercase">Lorem ipsum dolor sit</h5>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate lab</p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
                    <a routerLink="#" class="destaque">
                        <div class="img-container mb-3">
                            <img src="assets/destaque1.svg" class="img-fluid"/>
                        </div>
                        <h5 class="text-uppercase">Lorem ipsum dolor sit</h5>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate lab</p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
                    <a routerLink="#" class="destaque">
                        <div class="img-container mb-3">
                            <img src="assets/destaque1.svg" class="img-fluid"/>
                        </div>
                        <h5 class="text-uppercase" >Lorem ipsum dolor sit</h5>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate lab</p>
                    </a>
                </div>
            </div>
        </div>

        </section>
</div>
<!-- CONTACT ME -->

<div class="contact">
    <section id="contato">
        <div class="container ">
            <h1 class="text-center contact-align"><strong>ENTRE EM CONTATO</strong></h1>
            <div class="row">
                <div class="align-contact-infos">
                    <div class="col-lg-3">
                        <div id="circulo" class="cir-ajust">
            
                        </div>
                        <div class="dr-rick">
                            <h2>Dr. Ricardo Guilherme</h2>
                        </div>
                    </div>
                    <div class="subtitle text-uppercase pt-5 col-lg-3">
                        <h3>(I) TELEFONE</h3>
                        <h4>TEL: (11) 97410-9625</h4>
                    </div>
                    <div class="subtitle text-uppercase pt-5 col-lg-3">
                        <h3>E-MAIL</h3>
                        <h4>Ricardo.amaral@gmail.com</h4>
                    </div>
                    <div class="subtitle text-uppercase pt-5 col-lg-3">
                        <h3>WEBSITE</h3>
                        <h4>www.ricardoamaraladv.com.br</h4>
                    </div>
                </div>
            
                <div class="row">
                    <div class="square col-lg-6">
            
                    </div>
                    <div class="form col-lg-6">
                        <form>
                            <div class="form-group1">
                              <label for="formGroupExampleInput"></label>
                              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome">
                            </div>
                            <div class="form-group">
                              <label for="formGroupExampleInput2"></label>
                              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                              <label for="formGroupExampleInput2"></label>
                              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Telefone">
                            </div>
                            <div class="form-group">
                              <label for="formGroupExampleInput2"></label>
                              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Assunto">
                            </div>
                          </form>
                          <div class="btn-send-ajust">
                            <button type="submit" class="btn-send">Enviar</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>

<div class="bottom-page">

    <div class="container">
        <div class="align-icons">
            <div>
                <h3 class="subtitle">
                    Copyright (c) 2021 Ricardo Amaral<br>
                    All Rights Reserved
                </h3>
            </div>
            <div class="icons-redes">
                <div>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
