<section id="what-people-say" style="padding-bottom: 4em">
  <div class="detail" style="padding-top: 2em">
    <img style="width: 10em; height: auto" src="assets/web-detail.png" alt="" />
  </div>
  <div align="center" class="pt-2">
    <h1 class="sub-title">O que estão dizendo?</h1>
  </div>

  <div
    id="testimonialCarousel"
    class="carousel slide container"
    data-bs-ride="carousel"
    data-aos="fade-down"
    data-aos-duration="1500"
  >
    <div class="carousel-inner">
      <!-- Card 1 -->
      <div class="carousel-item active p-2">
        <div class="testimonial-card">
          <img
            src="assets/denis.png"
            class="rounded-circle mb-3"
            alt="Foto de John Doe"
            width="100"
            height="100"
          />
          <!-- <p class="testimonial-comment">"Trabalhar com você foi uma experiência incrível! Recomendo fortemente!"</p> -->
          <p class="testimonial-comment">
            "Tive a oportunidade de trabalhar com o DR.Ricardo para a
            criação de um contrato de exclusividade, e não poderia estar mais
            satisfeito com o serviço prestado. Desde o início, ele demonstrou um
            profundo entendimento das minhas necessidades e garantiu que cada
            detalhe fosse cuidadosamente considerado. [Nome do advogado] foi
            extremamente profissional, claro em suas explicações, e o contrato
            final ficou exatamente como eu precisava. Sua atenção aos detalhes e
            a capacidade de antecipar possíveis questões legais me deram muita
            tranquilidade. Recomendo altamente [nome do advogado] para qualquer
            pessoa ou empresa que precise de um contrato bem elaborado e
            seguro."
          </p>
          <p class="testimonial-author">- Denis Wilians</p>
          <p class="card-subtitle mb-2 text-muted">Consultor</p>
        </div>
      </div>
      <div class="carousel-item pr-2">
        <div class="testimonial-card">
          <img
            src="assets/hirle2.png"
            class="rounded-circle mb-3"
            alt="Foto de John Doe"
            width="100"
            height="100"
          />
          <!-- <p class="testimonial-comment">"Trabalhar com você foi uma experiência incrível! Recomendo fortemente!"</p> -->
          <p class="testimonial-comment">
            Contratar O Dr. Ricardo foi uma das melhores decisões que
            tomei. Ele foi extremamente prestativo desde o início, sempre
            disponível para tirar minhas dúvidas e explicar cada passo do
            processo. Graças ao seu conhecimento e dedicação, conseguimos vencer
            o caso e alcançar um acordo excelente, muito melhor do que eu
            esperava. Recomendo [nome do advogado] a qualquer pessoa que precise
            de um profissional competente e comprometido com os melhores
            resultados para seus clientes.
          </p>
          <p class="testimonial-author">- Guilherme Hirle</p>
          <p class="card-subtitle mb-2 text-muted">Desenvolvedor</p>
        </div>
      </div>
      <div class="carousel-item pr-2">
        <div class="testimonial-card">
          <img
            src="assets/Kathleen.png"
            class="rounded-circle mb-3"
            alt="Foto de John Doe"
            width="100"
            height="100"
          />
          <!-- <p class="testimonial-comment">"Trabalhar com você foi uma experiência incrível! Recomendo fortemente!"</p> -->
          <p class="testimonial-comment">
            Bom voce foi super atencioso, prestativo, foi um dos melhores
            profissionais que eu já encontrei! Realizou o trabalho com
            excelência e rapidez. 100% confiável! Agradeço muito a você Deus
            abençoe.
          </p>
          <p class="testimonial-author">- Kathleen Dias Ramos</p>
          <p class="card-subtitle mb-2 text-muted">Atendente</p>
        </div>
      </div>
      <div class="carousel-item pr-2">
        <div class="testimonial-card">
          <img
            src="assets/viviane.png"
            class="rounded-circle mb-3"
            alt="Foto de John Doe"
            width="100"
            height="100"
          />
          <!-- <p class="testimonial-comment">"Trabalhar com você foi uma experiência incrível! Recomendo fortemente!"</p> -->
          <p class="testimonial-comment">
            Minha experiência foi ótima, não tenho do que reclamar, você me
            auxiliou muito bem, nunca me deixou com dúvidas, já indiquei e se
            precisar sei que posso contar.
          </p>
          <p class="testimonial-author">- Vívian Andrade</p>
          <p class="card-subtitle mb-2 text-muted">Auxiliar de Limpeza</p>
        </div>
      </div>
      <div class="carousel-item pr-2">
        <div class="testimonial-card">
          <img
            src="assets/renan.png"
            class="rounded-circle mb-3"
            alt="Foto de John Doe"
            width="100"
            height="100"
          />
          <!-- <p class="testimonial-comment">"Trabalhar com você foi uma experiência incrível! Recomendo fortemente!"</p> -->
          <p class="testimonial-comment">
            Minha experiência com o dr Ricardo foi excelente. Um excelente
            profissional ágil e competente com seu trabalho. Foi muito rápido o
            processo até a sua finalização. Recomendo seu trabalho.
          </p>
          <p class="testimonial-author">- Renan Marques</p>
          <p class="card-subtitle mb-2 text-muted">Atendente comercial</p>
        </div>
      </div>
      <div class="carousel-item pr-2">
        <div class="testimonial-card">
          <img
            src="assets/julia.png"
            class="rounded-circle mb-3"
            alt="Foto de John Doe"
            width="100"
            height="100"
          />
          <!-- <p class="testimonial-comment">"Trabalhar com você foi uma experiência incrível! Recomendo fortemente!"</p> -->
          <p class="testimonial-comment">
            oii Rick, você é um ótimo advogando, atencioso e muito educado
            também. Te indico pra todo mundo por que o seu trabalho vale a pena
            demais!!
          </p>
          <p class="testimonial-author">- Julia Ferreira</p>
          <p class="card-subtitle mb-2 text-muted">Atendente de FastFood</p>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#testimonialCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#testimonialCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
