<section id="what-people-say" style="padding-bottom: 4em">
  <div class="detail" style="padding-top: 2em;">
    <img style="width: 10em; height: auto" src="assets/web-detail.png" alt="" />
  </div>
  <div align="center" class="pt-2">
    <h1 class="sub-title">O que estão dizendo?</h1>
  </div>

  <div
    id="testimonialCarousel"
    class="carousel slide container"
    data-bs-ride="carousel"
    data-aos="fade-down" data-aos-duration="1500"
  >
    <div class="carousel-inner">
      <!-- Card 1 -->
      <div class="carousel-item active p-2">
        <div class="card">
          <div class="card-body">
            <img
              src="assets/mafe-profile.png"
              class="rounded-circle mb-3"
              alt="Foto de John Doe"
              width="100"
              height="100"
            />
            <div class="d-flex flex-column align-items-center card-commentary">
              <p class="card-text" style="color: black">
                "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum
                recusandae cumque corrupti quidem tempore at itaque debitis,
                laudantium distinctio ipsum dolorum aspernatur tenetur minima
                beatae eaque. Consectetur aut magni assumenda?"
              </p>
              <h5 class="card-title">Maria Fernanda</h5>
              <p class="card-subtitle mb-2 text-muted">Consultora</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item pr-2">
        <div class="card">
          <div class="card-body">
            <img
              src="assets/mafe-profile.png"
              class="rounded-circle mb-3"
              alt="Foto de John Doe"
              width="100"
              height="100"
            />
            <div class="d-flex flex-column align-items-center card-commentary">
              <p class="card-text" style="color: black">
                "Este é um comentário incrível sobre o serviço!"
              </p>
              <h5 class="card-title">John Doe</h5>
              <p class="card-subtitle mb-2 text-muted">Designer</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Controls -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#testimonialCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#testimonialCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
