<section style="padding-bottom: 4em;">

    <div>
        <h1 class="sub-title">O que estão dizendo?</h1>
    </div>

    <div id="carouselExampleControls" class="carousel slide carrossel-v2" data-bs-ride="carousel" data-aos="fade-down" data-aos-duration="2500" data-aos-anchor-placement="top-bottom">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <div style="display: flex; justify-content: center;">
                    <figure class="snip1390">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample3.jpg" alt="profile-sample3" class="profile"/>
                        <figcaption>
                            <h2>Eleanor Crisp</h2>
                            <h4>UX Design</h4>
                            <blockquote>Excelente profissional! O advogado demonstrou profundo conhecimento jurídico e comprometimento com meu caso. Além disso, sua abordagem atenciosa e empática me deixou confortável e confiante em todo o processo. Recomendo seus serviços a todos que procuram um advogado dedicado e eficiente</blockquote>
                        </figcaption>
                    </figure>
                    <figure class="snip1390"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample5.jpg" alt="profile-sample5" class="profile"/>
                        <figcaption>
                            <h2>daniel</h2>
                            <h4>Accountant</h4>
                            <blockquote>Wormwood : Calvin, how about you? Calvin : Hard to say ma'am. I think my cerebellum has just fused.
                            </blockquote>
                        </figcaption>
                    </figure>
                    <figure class="snip1390">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample3.jpg" alt="profile-sample3" class="profile"/>
                        <figcaption>
                            <h2>Eleanor Crisp</h2>
                            <h4>UX Design</h4>
                            <blockquote>Dad buried in landslide! Jubilant throngs fill streets! Stunned father inconsolable - demands recount!</blockquote>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="carousel-item">
                <div style="display: flex; justify-content: center;">
                    <figure class="snip1390">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample3.jpg" alt="profile-sample3" class="profile"/>
                        <figcaption>
                            <h2>Eleanor Crisp</h2>
                            <h4>UX Design</h4>
                            <blockquote>AHSDHAUSDHUASDHA!</blockquote>
                        </figcaption>
                    </figure>
                    <figure class="snip1390"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample5.jpg" alt="profile-sample5" class="profile"/>
                        <figcaption>
                            <h2>daniel</h2>
                            <h4>Accountant</h4>
                            <blockquote>WDASDAS
                            </blockquote>
                        </figcaption>
                    </figure>
                    <figure class="snip1390">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample3.jpg" alt="profile-sample3" class="profile"/>
                        <figcaption>
                            <h2>Eleanor Crisp</h2>
                            <h4>UX Design</h4>
                            <blockquote>Dad buried AAAAAAAAAAAAAAAAAAAAAAAAAAAAAble - demands recount!</blockquote>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- ================ PHONE SCREEN ==================== -->
    <div id="carouselExampleControls2" class="carousel slide carrossel-v1" data-bs-ride="carousel" data-aos="fade-down" data-aos-duration="2500" data-aos-anchor-placement="top-bottom">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <div style="display: flex; justify-content: center;">
                    <figure class="snip1390">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample3.jpg" alt="profile-sample3" class="profile"/>
                        <figcaption>
                            <h2>Eleanor Crisp</h2>
                            <h4>UX Design</h4>
                            <blockquote>Dad buried in landslide! Jubilant throngs fill streets! Stunned father inconsolable - demands recount!</blockquote>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="carousel-item">
                <div style="display: flex; justify-content: center;">
                    <figure class="snip1390">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample3.jpg" alt="profile-sample3" class="profile"/>
                        <figcaption>
                            <h2>Eleanor Crisp</h2>
                            <h4>UX Design</h4>
                            <blockquote>LALALALALLALALA</blockquote>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="carousel-item">
                <div style="display: flex; justify-content: center;">
                    <figure class="snip1390">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample3.jpg" alt="profile-sample3" class="profile"/>
                        <figcaption>
                            <h2>Eleanor Crisp</h2>
                            <h4>UX Design</h4>
                            <blockquote>ABBEABAEBBEBBA</blockquote>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
