<!-- CONTAINER PRINCIPAL RESPONSAVEL PELA COR DO TEMPLATE -->

<!-- navbar -->
<div id="menu" class="bloco">
  <ng-container>
    <app-nav></app-nav>
  </ng-container>

</div>
<div class="main-backgroung">
  <!-- HERO -->
  <div class="pt-lg-4 pt-sm-4">
    <section id="inicio" class="ajust-square-hero">
      <div class="square-hero">
        <div class="container">
          <div class="row">
            <div class="col-md-5 mb-5 mt-md-5 order-md-2 order-2">
              <div class="card-main full">
                <div class="content">
                  <h1>Eastern Storm</h1>
                  <p class="copy">
                    Relive the 1916 assault lead by Aleksei Brusilov
                  </p>
                </div>
                <div class="image">
                  <img src="assets/rick-circulo.png" alt="" />
                </div>
              </div>
            </div>

            <div class="col-md-7 align-self-center order-md-1 order-1 pt-5">
              <!-- <h1 class="title-card">Advocacia Sintonizada com Você<br>Direito Descomplicado, Resultados Extraordinários</h1> -->
              <h1 class="title-card">Advocacia Sintonizada junto com Você</h1>
              <p class="copy mb-4" style="line-height: 100%">
                Conquistando com Estratégia,<br />
                Defendendo com Paixão<br />
                Resultados Extraordinários.<br />
              </p>

              <div class="align-buttons">
                <a
                  routerLink="#"
                  class="button btn button-primay btn-primary button d-md-inline-block d-block mb-md-0 mb-2"
                  >Saiba mais</a
                >
                <a
                  routerLink="#"
                  class="btn button-primay-outline btn-outline-primary button d-md-inline-block d-block mb-md-0 mb-4"
                  >Contato</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- </div> -->
    <!-- HERO -->

    <!-- SOBRE -->
    <section id="sobre" class="pt-md-2">
      <div class="container fluid">
        <div class="sobre-content row">
          <div
            class="col-md-6 col-sm-6 mb-5 mt-md-5 pt-sm-5 order-md-2 order-2"
          >
            <!-- <img
                class="img-fluid"
                id="left"
                src="assets/rick-note.png"
                alt=""
              /> -->

            <div class="card full">
              <div class="content">
                <h1 class="title-card">Eastern Storm</h1>
                <p class="copy mb-4">
                  Relive the 1916 assault lead by Aleksei Brusilov
                </p>
              </div>
              <div class="image">
                <img src="assets/rick-note.png" alt="" />
              </div>
            </div>
          </div>
          <!-- <div
              class="col-md-6 col-sm-6 mb-5 mt-md-5 pt-sm-5 order-md-2 order-2"
            >
              <img
                class="img-fluid"
                id="left"
                src="assets/rick-note.png"
                alt=""
              />
            </div> -->
          <div class="col-md-6 col-sm-6 align-self-center order-md-2 order-1">
            <h1 class="title-card">Lorem ipsum dolor sit amet consectetur</h1>
            <p class="copy mb-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
              quas veritatis animi expedita.
            </p>
            <div class="align-buttons">
              <a
                routerLink="#"
                class="button btn button-primay btn-primary button d-md-inline-block d-block mb-md-0 mb-2"
                >Saiba mais</a
              >
              <a
                routerLink="#"
                class="btn button-primay-outline btn-outline-primary button d-md-inline-block d-block mb-md-0 mb-4"
                >Contato</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SOBRE -->

    <!-- SERVIÇOS -->
    <section id="servicos" class="pt-lg-2">
      <div class="text-center">
        <ng-container>
          <div class="square-hero-services">
            <h1 class="sub-title pt-md-5">Serviços</h1>

            <app-screen-service></app-screen-service>
          </div>
        </ng-container>
      </div>
    </section>

    <div class="footer">
      <ng-container>
        <app-footer></app-footer>
      </ng-container>
    </div>
    <!-- <section id="servicos" class="pt-lg-2">
    <div class="text-center">
      <div class="container">
        <h2>Nossos serviços</h2>
        <h4 class="subtitle">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate
          lab
        </h4>
        <div class="row">
          <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
            <a routerLink="#" class="destaque">
              <div class="img-container mb-3">
                <img src="assets/destaque1.svg" class="img-fluid" />
              </div>
              <h5 class="text-uppercase">Lorem ipsum dolor sit</h5>
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                voluptate lab
              </p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
            <a routerLink="#" class="destaque">
              <div class="img-container mb-3">
                <img src="assets/destaque1.svg" class="img-fluid" />
              </div>
              <h5 class="text-uppercase">Lorem ipsum dolor sit</h5>
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                voluptate lab
              </p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
            <a routerLink="#" class="destaque">
              <div class="img-container mb-3">
                <img src="assets/destaque1.svg" class="img-fluid" />
              </div>
              <h5 class="text-uppercase">Lorem ipsum dolor sit</h5>
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                voluptate lab
              </p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
            <a routerLink="#" class="destaque">
              <div class="img-container mb-3">
                <img src="assets/destaque1.svg" class="img-fluid" />
              </div>
              <h5 class="text-uppercase">Lorem ipsum dolor sit</h5>
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                voluptate lab
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  </div>

  <!--
<div class="footer">
    <section>
        <div class="container">
            <div class="row">
                <div class="footer col-md-6">

                </div>
                <div class="footer1 col-md-6">

                </div>
            </div>
        </div>
    </section>
</div> -->
  <!-- SERVIÇOS -->

  <!-- <div class="servicos bloco">
        <div class="container text-center ">
            <h2>Nossos serviços</h2>
            <h4 class="subtitle"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate lab</h4>
        <div class="row">
            <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
                <a routerLink="#" class="destaque">
                    <div class="img-container mb-3">
                        <img src="assets/destaque1.svg" class="img-fluid"/>
                    </div>
                    <h5 class="text-uppercase">Lorem ipsum dolor sit</h5>
                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate lab</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
                <a routerLink="#" class="destaque">
                    <div class="img-container mb-3">
                        <img src="assets/destaque1.svg" class="img-fluid"/>
                    </div>
                    <h5 class="text-uppercase">Lorem ipsum dolor sit</h5>
                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate lab</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
                <a routerLink="#" class="destaque">
                    <div class="img-container mb-3">
                        <img src="assets/destaque1.svg" class="img-fluid"/>
                    </div>
                    <h5 class="text-uppercase">Lorem ipsum dolor sit</h5>
                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate lab</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
                <a routerLink="#" class="destaque">
                    <div class="img-container mb-3">
                        <img src="assets/destaque1.svg" class="img-fluid"/>
                    </div>
                    <h5 class="text-uppercase" >Lorem ipsum dolor sit</h5>
                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate lab</p>
                </a>
            </div>
        </div>
    </div>
</div> -->

  <!-- <div class="row cards">
                            <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
                                <a routerLink="#" class="destaque a1">
                                    <div class="img-container mb-3">
                                        <img src="" class=""/>
                                    </div>
                                    <h5 class="text-uppercase">Lorem ipsum dolor sit</h5>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate lab</p>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
                                <a routerLink="#" class="destaque a2">
                                    <div class="img-container mb-3">
                                        <img src="" class="img-fluid"/>
                                    </div>
                                    <h5 class="text-uppercase">Lorem ipsum dolor sit</h5>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate lab</p>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
                                <a routerLink="#" class="destaque a3">
                                    <div class="img-container mb-3">
                                        <img src="" class="img-fluid"/>
                                    </div>
                                    <h5 class="text-uppercase">Lorem ipsum dolor sit</h5>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate lab</p>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-6 md-4 mb-lg-0 mb-4">
                                <a routerLink="#" class="destaque a4">
                                    <div class="img-container mb-3">
                                        <img src="" class="img-fluid"/>
                                    </div>
                                    <h5 class="text-uppercase" >Lorem ipsum dolor sit</h5>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate lab</p>
                                </a>
                            </div>
                        </div> -->
  <!-- CARDS -->

  <!-- <div class="slider bloco" >
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 align-self-center mb-md-0" >
                <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, deserunt. Enim op</h1>
                <h4>isicing elit. Eius, deserunt. Enim</h4>
                <a routerLink="#" class="btn button-primay btn-primary button d-md-inline-block d-block mb-md-0 mb-2 ">Saiba mais</a>
                <a routerLink="#" class="btn button-primay-outline btn-outline-primary button d-md-inline-block d-block mb-md-0 mb-4 ">Contato</a>
            </div>
            <div class="col-md-6 align-self-center text-center mb-md-0 mb-4">
                <img src="assets/law-back.png" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="about bloco">
    <div class="container">
        <section id="sobree">
        <div class="row">
            <div class="col-md-6 text-center align-self-center order-md-1 order-2">
                <img src="assets/sobre.svg" class="img-fluid">
            </div>
            <div class="col-md-6 container align-self-center d-md-inline-block d-inline d-text-center order-md-2 order-1">
                <h1>ipsum dolor sit amet consectetur adipisicing elit. Molestias, harum nam</h1>
                <h4 class="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere aliquam sit eveniet ex sint quas minima similique consequatur, voluptate ve!</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate laborum obcaecati illum eum eius facilis. Suscipit numquam tenetur sapiente harum, quisquam neque, quasi, quae explicabo placeat est maiores earum?
                </p>
                <a routerLink="#" class="btn button-primay btn-primary button mb-md-0 mb-4">Entre em contato</a>
            </div>
        </div>
    </section>
    </div>
</div> -->
</div>
