/* card template */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto");

html body {
  overflow-x: hidden;
  max-width: 100%;
}

h2 {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

h5 {
  font-size: 16px;
  font-weight: 600;

  color: var(--primary-dark);
}



.align-buttons {
  display: flex;
  justify-content: center;
}

#inicio {
  position: relative;
  width: 100%;
  padding-top: 2em;
}

#banner img {

  width: 100%;
  height: auto;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8em 0em 0em 0em;
}

#logo h2 {
  color: var(--light);
  font-size: xx-large;
  margin-top: -2em;

}

#logo h1 {
  margin-bottom: -1em;

}

#logo-escudo {
  display: flex;
  justify-content: center;
  margin: 1em 0em 7em;
}


@media (max-width : 500px) {

  /* tamanho de smartphones */

  #inicio {
    position: relative;
    width: 100%;
    padding: 11em 0px 10em;
  }

  #inicio #logo {
    position: absolute;
    top: 0;
    left: 0;
    left: 0;
    height: -webkit-fill-available;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.692); */
    display: block;
    padding-top: 3em;

  }

  #banner img {

    width: 100%;
    height: auto;
    transform: scale(2.0);
  }

  .title-card2 {
    margin: 2em 0px 0px 10px;
  }

  #logo {
    display: flex;
    justify-content: center;
  }

  #logo-escudo {
    display: flex;
    justify-content: center;
    margin-bottom: 7em;
  }

  #logo h1 {
    margin-bottom: -1em;
  }


}




/* ============= [FIM] É MEDIA PRINCIPAL QUE REPRESENTA A MAIOR TELA =================== */


/* Custom, iPhone Retina */
@media (max-width : 768px) {


  .align-h1 h1 {
    font-size: 29px;
  }


  .align-buttons {
    display: flex;
    justify-content: center;
  }

  .title-card {
    color: var(--primary);
    line-height: 100%;
    font-size: 44px;
  }


}
