/* card template */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto");

html body {
  overflow-x: hidden;
  max-width: 100%;
}

h1,
h2,
p {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

h5 {
  font-size: 16px;
  font-weight: 600;

  color: var(--primary-dark);
}

p {
  color: var(--medium);
  font-size: 16px;
  font-weight: 600;
}

.align-buttons {
  display: flex;
  justify-content: center;
}

#inicio {
  position: relative;
  width: 100%;
  padding-top: 2em;
}

#banner img {

  width: 100%;
  height: auto;
}

#inicio #logo {
  position: absolute;
  top: 0;
  left: 0;
  height: -webkit-fill-available;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.692);
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo h2 {
  color: var(--light);
  font-size: xx-large;
}

.title-card {
  color: var(--primary);
  line-height: 100%;
  font-size: 50px;
}
.title-card2 {
  color: var(--primary);
  line-height: 100%;
  font-size: 50px;
  margin: 2.5em 0px 0px 10px;
}
#logo-escudo {
  display: flex;
  justify-content: center;
  margin-bottom: 13em;
}


.card {
  width: 360px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.32);
  cursor: pointer;
  position: relative;
  transform-origin: center;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  margin: 0 16px 0 0;
}

.card:last-child {
  margin: 0;
}

.card:hover {
  transform: scale(1.05);
}

.card .content {
  padding: 40px 24px 48px 24px;
  position: relative;
}

.card .content h1,
.card .content p {
  transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card .content h1.copy,
.card .content p.copy {
  margin: 16px 0 0 0;
}


.card.full {
  height: 480px;
  width: 32em;
  background: #161616;
  overflow: hidden;
}

.card.full .content {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  padding: 0 24px;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card.full:hover .content {
  bottom: 56px;
}

.card.full .image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.card.full .image img {
  height: 480px;
  width: auto;
}

.card.full .image:before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
  position: absolute;
}


h1 {
  font-family: "Josefin Sans", serif;
  font-size: 2rem;
  line-height: 24px;
  letter-spacing: 0.10px;
  text-transform: uppercase;
}



p {
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 0.5px;
}






.about-ajust {
  display: flex;
  /* flex-flow: column; */
}


@media (max-width : 500px) {

  /* tamanho de smartphones */

  #inicio {
    position: relative;
    width: 100%;
    padding-top: 4em;
  }

  #inicio #logo {
    position: absolute;
    top: 0;
    left: 0;
    height: -webkit-fill-available;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    display: block;
  }

  #banner img {

    width: 100%;
    /* faz a imagem esticar para ocupar todo o contêiner */
    height: auto;
    /* mantém a proporção da imagem */
    filter: blur(2px);
  }





  .title-card2 {
    margin: 2em 0px 0px 10px;
  }



  .copy {
    margin-bottom: 1em;
    font-size: 19px;
    font-weight: 500;
  }

  #logo-escudo {
    display: flex;
    justify-content: center;
    margin-bottom: 13em;
  }


}




/* ============= [FIM] É MEDIA PRINCIPAL QUE REPRESENTA A MAIOR TELA =================== */


/* Custom, iPhone Retina */
@media (min-width : 768px) {


  .align-h1 h1 {
    font-size: 29px;
  }


  .align-buttons {
    display: flex;
    justify-content: center;
  }

  .title-card {
    color: var(--primary);
    line-height: 100%;
    font-size: 44px;
  }



  .copy {
    margin-bottom: 1em;
    font-size: 19px;
    font-weight: 500;
  }



  .about-ajust {
    display: flex;
    justify-content: space-around;

  }

}
