<div class="slider bloco" >
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 align-self-center mb-md-0" >
                <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, deserunt. Enim op</h1>
                <h4>isicing elit. Eius, deserunt. Enim</h4>
                <a routerLink="#" class="btn button-primay btn-primary button d-md-inline-block d-block mb-md-0 mb-2 ">Saiba mais</a>
                <a routerLink="#" class="btn button-primay-outline btn-outline-primary button d-md-inline-block d-block mb-md-0 mb-4 ">Contato</a>
            </div>
            <div class="col-md-6 align-self-center text-center mb-md-0 mb-4">
                <img src="assets/slider.svg" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="about bloco">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center align-self-center order-md-1 order-2">
                <img src="assets/sobre.svg" class="img-fluid">
            </div>
            <div class="col-md-6 container align-self-center d-md-inline-block d-inline d-text-center order-md-2 order-1">
                <h1>ipsum dolor sit amet consectetur adipisicing elit. Molestias, harum nam</h1>
                <h4 class="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere aliquam sit eveniet ex sint quas minima similique consequatur, voluptate ve!</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptate laborum obcaecati illum eum eius facilis. Suscipit numquam tenetur sapiente harum, quisquam neque, quasi, quae explicabo placeat est maiores earum?
                </p>
                <a routerLink="#" class="btn button-primay btn-primary button mb-md-0 mb-4">Entre em contato</a>
            </div>
        </div>
    </div>
</div>
<app-screen-service></app-screen-service>
