/* INCIO DO NAVBAR */
html {}

.nav-link {
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: solid 4px transparent;
  color: var(--light) !important;
}

.nav-link:hover {
  border-bottom: solid 4px var(--primary);
  color: var(--main-color);
}

.navbar-expand-lg {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #000;
  background: var(--secondary);
  opacity: 95%;

  position: fixed;
  /* top: 0;
  left: 0;
  bottom: 0; */
  z-index: 10;
}



.nav-item a {
  display: flex;
  justify-content: center;
}

/* FIM DO NAVBAR */

/* icones redes */
.flex-icons {
  display: flex;
  justify-content: flex-end;
}

#ajustes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.icons-redes a {
  font-size: 25px;
  margin-right: 15px;
}

#burger i {
  display: none;
  color: var(--primary);
  margin: 15px 10px 0px 0px;
}

.nav-item a {
  display: block;
  visibility: visible;
}

@media only screen and (min-width : 320px) {
  .nav-item a {
    display: none;
  }

  .side-item {
    display: block;
  }

  #burger i {
    display: block;
    cursor: pointer;

  }

  .side-bar {
    background: var(--secondary-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    opacity: 100%;
    transition: all 0.5s ease;
    z-index: 10;
    margin-top: 75px;
    /* display: none; */
  }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .side-bar {
    background: var(--secondary-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    opacity: 100%;
    transition: all 0.5s ease;
    z-index: 10;
    margin-top: 75px;
    /* display: none; */
  }

  .nav-item a {
    /* visibility: hidden; */
    display: none;
  }

  .side-item {
    display: block;
  }

  #burger i {
    display: block;
    cursor: pointer;
  }

  .navbar-expand-lg {
    width: 100%;
    /* display: flex; */
    /* justify-content: space-around; */
    background: #000;
    background: var(--secondary);
    opacity: 95%;

    position: fixed;
    /* top: 0;
    left: 0;
    bottom: 0; */
    z-index: 10;
  }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .side-bar {
    background: var(--secondary-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    opacity: 100%;
    transition: all 0.5s ease;
    z-index: 10;
    margin-top: 75px;
    /* display: none; */
  }

  .nav-item a {
    display: none;
  }

  .side-item {
    display: block;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .side-bar {

    display: none;
  }

  .nav-item a {
    display: block;
    visibility: visible;
  }

  #burger i {
    display: none;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .side-bar {

    display: none;
  }

  #burger i {
    display: none;
  }

  .nav-item a {
    display: block;
    visibility: visible;
  }
}
