<!-- NAVBAR -->
<nav data-aos="fade-down" class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="ajustes">
    <div id="burger" class="pt-2" style="display: flex; justify-content: flex-start;">
      <i data-aos="fade-down" (click)="menu()" class="fa-solid fa-bars"></i>
    </div>

    <div class="navbar-brand" style="display: flex">
      <div>
        <img
          class="container-fluid"
          src="assets/logo-name-edited.png"
          alt="error"
          style="width: 10em"
        />
      </div>
      <!-- <a href="#"></a> -->
    </div>

    <div id="fake">

    </div>
  </div>

  <div style="display: flex; justify-content: flex-start;">
    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#inicio"
          >Pagina Inicial</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#sobre">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#servicos"
          >Serviços</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#contato"
          >Contato</a
        >
      </li>
    </ul>
  </div>

  <!-- <div class="icons-redes">
            <div>
                <a href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div> -->
</nav>
<div data-aos="fade-right" class="side-bar" *ngIf="openClose">
  <div class="container">
    <div>
      <ul class="navbar-nav">
        <li class="side-item">
          <a
            (click)="menu()"
            class="nav-link active"
            aria-current="page"
            href="#inicio"
            >Pagina Inicial</a
          >
        </li>
        <li class="side-item">
          <a
            (click)="menu()"
            class="nav-link active"
            aria-current="page"
            href="#sobre"
            >Sobre</a
          >
        </li>
        <li class="side-item">
          <a
            (click)="menu()"
            class="nav-link active"
            aria-current="page"
            href="#servicos"
            >Serviços</a
          >
        </li>
        <li class="side-item">
          <a
            (click)="menu()"
            class="nav-link active"
            aria-current="page"
            href="#contato"
            >Contato</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
