/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, sans-serif; 
         background-color: #222d50;
         width: 100%;
         height: 720px;   
        }
       /* background-repeat: no-repeat;
       background-size: cover;
       background-position: right; }  */
:root{
    --primary: #b79c64;
    --primary-dark: #bd9952;
    --secondary: #364F6B;
    --lignt: #f0f0f0;
    --medium: #cacaca;
    --dark: #a2a2a2;

}

/* RESPONSIVE */
@media (max-width: 991.98px){
    .navbar-collapse{
        width: 100%;
    }
}
@media (min-width: 992px){
    .nav-link{
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media(max-width: 767.98px){
    a.destaqye .img-container{
        height: 120px;
    }
    a.destaqye .img-container img{
        max-height: 120px;
    }
}


/* GLOBAL */
.button{
    text-transform: lowercase;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}
.button-primay{
    background-color: var(--primary);
    border-color: var(--primary);
}
.button-primay:hover{
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}
.button-primay-outline{
    border-color: var(--primary);
    color: var(--primary);
}
.button-primay-outline:hover{
    border-color: var(--primary);
    background-color: var(--primary-dark);
}


.title{
    text-transform: uppercase;
    font-weight: bold;
}
.subtitle{
    color: var(--medium);
    font-weight: 500;
}
.bloco{
    margin-bottom: 120px;
}
.bloco2{
    margin-top: 140px;
}

a{
    color: var(--primary);
}
a:hover{
    color: var(--secondary);
}

a.destaque{
    display: block;
    background: var(--lignt);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: black;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

a.destaque:hover{
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
}
.servicos p{
    color: var(--dark)
}
.servicos a.destaque .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.servicos a.destaque .img-container img{
    max-height: 160px;
}

/* CUSTOM */
/* .slider{
    background: url(assets/detalhes-fundo-azul.png) no-repeat center  bottom;
    background-size: contain;
} */
.active2{
    position: fixed;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
}