/* Custom, iPhone Retina */
/* @media only screen and (min-width : 320px) {} */

/* Extra Small Devices, Phones */
/* @media only screen and (min-width : 480px) {} */

/* Small Devices, Tablets */
/* @media only screen and (min-width : 768px) {} */

/* Medium Devices, Desktops */
/* @media only screen and (min-width : 992px) {} */

/* Large Devices, Wide Screens */
/* @media only screen and (min-width : 1200px) {} */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


html body {
  overflow-x: hidden;
  max-width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(60deg, rgba(0, 0, 0, 1) 2%, rgba(87, 69, 252, 1) 100%);

}

:root {
  --main-color: linear-gradient(183deg, rgba(0, 0, 0, 1) 0%, rgba(48, 38, 139, 1) 100%);
  --main-color-variation: linear-gradient(29deg, rgba(0, 0, 0, 1) 0%, rgba(48, 38, 139, 1) 63%);

  --primary: #b79c64;
  --primary-dark: #bd9952;
  /* --primary: #b79c64;
  --primary-dark: #bd9952; */

  --secondary: #0f0f0f;
  --secondary-transparent: #00000079;
  --secondary-light: rgba(24, 24, 24, 0.986);
  --light: #f0f0f0;
  --medium: #cacacabd;
  --dark: #a2a2a2;

}

h1 {
  font-family: "Josefin Sans", serif;
  font-size: 50px;
  line-height: 1.0em;
  letter-spacing: 0.10px;
  text-transform: uppercase;

  color: var(--primary);
  margin: 2.5em 0px 0px 10px;
  pointer-events: none;
  cursor: default;
}

p {
  color: var(--medium);
  font-size: 16px;
  font-weight: 600;

  pointer-events: none;
  cursor: default;
  text-decoration: none;
}


/* RESPONSIVE nav bar*/

@media (max-width: 767px) {}

@media (max-width: 991.98px) {
  .navbar-collapse {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .nav-link {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media(max-width: 767.98px) {
  a.destaqye .img-container {
    height: 120px;
  }

  a.destaqye .img-container img {
    max-height: 120px;
  }
}


/* GLOBAL */
.button {
  text-transform: lowercase;
  font-weight: 500;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.button-primay {
  background-color: var(--primary);
  border-color: var(--primary);
}

.button-primay:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.button-primay-outline {
  border-color: var(--primary);
  color: var(--primary);
}

.button-primay-outline:hover {
  border-color: var(--primary);
  background-color: var(--primary-dark);
}


.title {
  text-transform: uppercase;
  font-weight: 900;
  font-weight: bold;
  color: var(--light);
}

.subtitle {
  color: var(--medium);
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
  color: var(--medium);
}

.bloco {
  margin-bottom: 45px;
}

.bloco2 {
  margin-top: 55px;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
}

.sub-title {
  color: var(--primary);
  line-height: 100%;
  font-size: 35px;
  display: flex;
  justify-content: center;
}



/* ==============CARDS DE SERVIÇOS====================== */
a.destaque.a1 {

  display: block;
  background-image: url(assets/Prancheta1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  border-radius: 5px;
  text-align: center;
  padding: 15px;
  color: black;
  text-decoration: none;
  transition: all ease-out 0.2s;

  /* display: block;
    background: var(--lignt);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: black;
    text-decoration: none;
    transition: all ease-out 0.2s; */
}

a.destaque.a2 {

  display: block;
  background-image: url(assets/Prancheta3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  border-radius: 5px;
  text-align: center;
  padding: 15px;
  color: black;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

a.destaque.a3 {

  display: block;
  background-image: url(assets/Prancheta3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  border-radius: 5px;
  text-align: center;
  padding: 15px;
  color: black;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

a.destaque.a4 {

  display: block;
  background-image: url(assets/Prancheta1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  border-radius: 5px;
  text-align: center;
  padding: 15px;
  color: black;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

/* ==============CARDS DE SERVIÇOS====================== */

a.destaque:hover {
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

.servicos p {
  color: var(--dark)
}

.servicos a.destaque .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.servicos a.destaque .img-container img {
  max-height: 600px;
}

/* CUSTOM */
/* .sobre-details{
    background: url(assets/details.png) no-repeat center  bottom;
    background-size: contain;
} */
/* .active2{
    position: fixed;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
} */
